*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(3, 3, 3);
}
.container{
    position: absolute;
    top: 15%;
    left: 8%;
    z-index: 1;
    color:white;
    /* margin: 16em 8em; */
}
h1{
    font-size:3.3rem;
    color:aquamarine;
}
h4{
    font-size:2.3rem;
}
h5{
    font-size:1.3em;
    color:rgb(107,107,122);
}

.webgl
{
    /* position: fixed; */
    top: 0;
    right: 0;
    outline: none;
}

.experience-container{
    color: #fff;
    /* border: 1px solid #fff; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    /* left: 20px; */

  }
  .experience{
    position: absolute;
    left: 40px;
    top:40%;
    color:rgb(241, 238, 234);
  }
  .item{
    position: absolute;
    left: 56px;
    top:50%;
    color:rgb(162, 231, 123);

  }
  .item small {
    color:rgb(255, 255, 255);

  }
  .form{
    /* border: 1px solid #fff; */
    position: absolute;
    left: 75%;
    top:50%;
    /* position: ; */

  }
  /* .form form {
    border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  } */
   .icon a{
    color:#fff;
  }
  .icon a:hover{
    color: #fff;
  }
#demo,#dem,#de,#d {
  position: absolute;
  border: 1px solid #fff;
  padding: 4px;
  top: 5%;
  left: 160%;
  color: #fff;

}

#dem{
  position: absolute;
  top: 27%;
  left: 160%;
}
#de{
  position: absolute;
  top: 52%;
  left: 160%;
}
#d{
  position: absolute;
  top: 74%;
  left: 160%;
}

/*  */

a {
    color:rgb(255, 255, 255);
  text-decoration: none;
font-size: 1.6rem;
}
a:hover{
  color:aquamarine;
}
@media  only screen and (max-width:600px) {
  .experience-container {
    border: 1px solid #fff;
    position: fixed;

  }
  #demo,#dem,#de,#d{
    display: none;
  }
}